$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'reset';
@import 'variables';

.main {
  &__header {

  }

  &__content {

    &__wrapper {
      width: 90%;
      margin: auto;

      &__section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2rem 0;
        padding: 0 2rem;

        .shadows {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;

          &__material {
            position: relative;
            width: 350px;
            height: 350px;
            margin-bottom: 1rem;
            background-color: $grey-1;

            &--block {
              position: absolute;
              left: 50%;
              top: 50%;
              width: 150px;
              height: 150px;
              transform: translateX(-50%) translateY(-50%);
              background-color: #fff;

              &_key-light {
                box-shadow: $material-shadow-1;
              }

              &_ambient-light {
                box-shadow: $material-ambient-shadow-1;
              }

              &_key-ambient-light {
                box-shadow: $material-shadow-1, $material-ambient-shadow-1;
              }
            }
          }
        }

        .buttons {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 2rem 2rem 1rem 2rem;
          background-color: $grey-1;

          .material {
            box-shadow: $material-shadow-1;

            &-button {
              padding: 20px;
              margin-bottom: 1rem;
              border: 0;
              outline: 0;
              background-color: #fff;
              color: #ff0000;
              font-size: 1.5rem;
              transition: box-shadow .2s;

              &.clicked {
                box-shadow: $material-shadow-3;
                transition: .2;
              }
            }

            &-ripple {
              overflow: hidden;
              position: relative;

              .ripple--active {
                width: 2px;
                height: 2px;
                top: 50%;
                left: 50%;
                position: absolute;
                border-radius: 100%;
                background-color: $grey-2;
                opacity: .7;
                -webkit-transform: scale(0);
              }
            }
          }
        }

        .animation {
          background-color: $grey-1;
          position: relative;
          height: 600px;

          &__block {
            animation: moveHor 4s ease-in, moveVer 4s ease-out, shadowing 4s;
            animation-iteration-count: infinite;

            position: absolute;
            left: 25px;
            top: 25px;
            width: 100px;
            height: 100px;
            background-color: #fff;
            box-shadow: $material-shadow-1;

            @keyframes moveHor {
              0% {
                left: 25px;
              }
              40% {
                left: calc(100% - 150px);
              }
              50% {
                left: calc(100% - 150px);
              }
              90% {
                left: 25px;
              }
              90% {
                left: 25px;
              }
            }

            @keyframes moveVer {
              0% {
                top: 25px;
              }
              40% {
                top: 400px;
              }
              50% {
                top: 400px;
              }
              90% {
                top: 25px;
              }
              90% {
                top: 25px;
              }
            }

            @keyframes shadowing {
              0% {
                box-shadow: $material-shadow-1;
              }
              50% {
                box-shadow: $material-shadow-5;
              }
              100% {
                box-shadow: $material-shadow-1;
              }
            }
          }
        }
      }
    }
  }

  &__footer {

  }
}
